{% extends 'layout.html' %}

{% block body %}
<div class="text-center">
  <div class="row">
    <div class="col-sm-3">
      <div class="card text-center" style="width: 100%;">
        <div class="card-body">
          <h4>Here is the description of the 6 <strong>XRF</strong>
            “experiments” options at your disposal for getting chemical analyses
            with the <strong>PIXL instrument</strong>!
            And their size compared to the scale of ouroutcrop.</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="https://storage.googleapis.com/geovision-site/Screen%20Shot%202018-09-14%20at%202.08.43%20PM.png" width="100%" />
    </div>
  </div>
</div>

<!-- proceed button -->
{% with page = 'main.task1', back = 'main.analyses1' %}
{% include 'includes/_proceed_button.html' %}
{% endwith %}

{% endblock %}