{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="header text-center">
  <h3 class="title">THANK YOU!</h3>
  <h4 class="title">Your PIXL analyses are ready to be uplinked to the rover.</h4>
  <p>Results coming soon…</p>
</div>
<h4 class="title">Please provide any other comments:</h4>
<form class="form" method="POST" action="">
  {{ form.hidden_tag() }}
  <div class="form-group ml-4 mr-4 mt-4">
    {{ form.comments.label(class="form-control-label") }}
    {% if form.comments.errors %}
    {{ form.comments(class="form-control form-control-lg is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.comments.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %}
    {{ form.comments(rows="5", class="form-control form-control-lg") }}
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.submit(class="btn btn-primary item pull-right") }}
    <a href="{{ url_for( 'main.test2' ) }}" class="btn btn-danger item pull-right"><i class="fa fa-arrow-circle-left fa-5x"></i> Back</a>
  </div>
</form>


{% endblock %}