{% extends 'layout.html' %}

{% block body %}


{% if form %}
<h4 class="title">Please fill this report introduction:</h4>
<form class="form" method="POST" action="">
  {{ form.hidden_tag() }}
  <div class="form-group ml-4 mr-4 mt-4">
    {{ form.background.label(class="form-control-label") }}
    {% if form.background.errors %}
    {{ form.background(class="form-control form-control-lg is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.background.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %}
    {{ form.background(rows="5", class="form-control form-control-lg") }}
    {% endif %}
  </div>
  <div class="form-group modal-footer">
    {{ form.submit(class="btn btn-primary") }}
  </div>
</form>
<input type="text" class="tagsinput form-control" data-role="tagsinput" data-color="info">
<input name="tagsinput" class="tagsinput tag-rose" value="Minimal, Light, New, Friends" />

<br>
{% else %}
<h4 class="title">Thanks for your submission!</h4>
<!-- proceed button -->
{% with page = 'main.outcrop', back = 'main.analyses2' %}
{% include 'includes/_proceed_button.html' %}
{% endwith %}

{% endif %}



{% endblock %}
