{% extends 'layout.html' %}

{% block body %}

<h4 class="title text-center mb-0">Please list below 4 keywords (or more) that describe your main research/expertise</h4>
<h5 class="text-center mt-0">(examples: Sedimentology; Geochemistry; Microbiology; Planetary Sciences; Engineering; Computer Sciences; ...)</h5>
<form action="" method="GET">
  <fieldset class="form-group">
    <textarea type="text-area" style="background-color: rgb(240, 240, 240)" class="form-control" name="background" id="background" placeholder="Background info" required>{{ info }}</textarea>

    <button class="btn btn-primary item pull-right" type="submit" name="action" value="proceed" id="locationSubmit">Submit</button>
    <button class="btn btn-danger item pull-right" type="submit" name="action" value="back" id="locationSubmit2"><i class="fa fa-arrow-circle-left fa-5x"></i> Back</button>
  </fieldset>
</form>

<!-- proceed button
{% with page = 'main.outcrop', back = 'main.analyses2' %}
{% include 'includes/_proceed_button.html' %}
{% endwith %} -->

<script>
  document.getElementById("locationSubmit2").addEventListener('click', function () {
    document.getElementById('background').required = false;
  });
</script>



{% endblock %}