<!DOCTYPE html>
<html>

  <head>
    <!-- USE DEVELOPMENT VERSION -->
    <script src="https://unpkg.com/konva@3.2.4/konva.min.js"></script>
    <meta charset="utf-8" />
    <title>Konva Transform Events Demo</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f0f0f0;
      }
    </style>
  </head>

  <body>
    <button id="add">Add new</button>
    <div id="container"></div>
    <script>
      var width = window.innerWidth;
      var height = window.innerHeight;

      var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height
      });

      var layer = new Konva.Layer();
      stage.add(layer);


      // ---------- grid (143 min) ---------- //
      var rect = new Konva.Rect({
        x: {{ footprints[1]['x'] }},
        y: {{ footprints[1]['y'] }},
        width: 90.7, // 24 mm
        height: 90.7, // 24 mm
        fill: 'yellow',
        name: 'rect',
        draggable: false,
        value: 143
      });


      rect.on('mouseenter', function () {
        stage.container().style.cursor = 'pointer';
      });

      rect.on('mouseleave', function () {
        stage.container().style.cursor = 'default';
      });


      // ---------- 1 line (32 min) ---------- //
      var rect2 = new Konva.Rect({
        x: 360,
        y: 160,
        width: 4.8,
        height: 90.7,
        fill: 'yellow',
        name: 'rect',
        draggable: false,
        value: 32,
        hitFunc: function (context) {
          context.beginPath();
          context.rect(-15, -10, 4.8 + 30, 90.7 + 20);
          context.closePath();
          context.fillStrokeShape(this);
        }
      });


      rect2.on('mouseenter', function () {
        stage.container().style.cursor = 'pointer';
      });

      rect2.on('mouseleave', function () {
        stage.container().style.cursor = 'default';
      });


      // ---------- 7x7 square (610 min) ---------- //
      var rect3 = new Konva.Rect({
        x: 560,
        y: 160,
        width: 26.3,
        height: 26.3,
        fill: 'yellow',
        name: 'rect',
        draggable: false,
        value: 610,
        hitFunc: function (context) {
          context.beginPath();
          context.rect(-10, -10, 26.3 + 20, 26.3 + 20);
          context.closePath();
          context.fillStrokeShape(this);
        }
      });


      rect3.on('mouseenter', function () {
        stage.container().style.cursor = 'pointer';
      });

      rect3.on('mouseleave', function () {
        stage.container().style.cursor = 'default';
      });

      // ---------- 5x15 square (943 min) ---------- //
      var rect4 = new Konva.Rect({
        x: 760,
        y: 160,
        width: 19.0,
        height: 56.7,
        fill: 'yellow',
        name: 'rect',
        draggable: false,
        value: 943,
        hitFunc: function (context) {
          context.beginPath();
          context.rect(-10, -10, 19.0 + 20, 56.7 + 20);
          context.closePath();
          context.fillStrokeShape(this);
        }
      });

      rect4.on('mouseenter', function () {
        stage.container().style.cursor = 'pointer';
      });

      rect4.on('mouseleave', function () {
        stage.container().style.cursor = 'default';
      });

      // ---------- 2x2 square (72 min) ---------- //
      var rect5 = new Konva.Rect({
        x: 960,
        y: 160,
        width: 8.2,
        height: 8.2,
        fill: 'yellow',
        name: 'rect',
        draggable: false,
        value: 72,
        hitFunc: function (context) {
          context.beginPath();
          context.arc(5, 5, 25, 0, Math.PI * 2, true);
          context.closePath();
          context.fillStrokeShape(this);
        }
      });

      rect5.on('mouseenter', function () {
        stage.container().style.cursor = 'pointer';
      });

      rect5.on('mouseleave', function () {
        stage.container().style.cursor = 'default';
      });

      // ---------- 3 lines (74 min) ---------- //
      var rect6 = new Konva.Rect({
        x: 1160,
        y: 160,
        width: 56.7,
        height: 90.7,
        fill: 'yellow',
        name: 'rect',
        draggable: false,
        value: 74
      });

      rect6.on('mouseenter', function () {
        stage.container().style.cursor = 'pointer';
      });

      rect6.on('mouseleave', function () {
        stage.container().style.cursor = 'default';
      });

      layer.add(rect, rect2, rect3, rect4, rect5, rect6)
      layer.draw()

      stage.on('click tap', function (e) {
          if (!e.target.hasName('rect')) {
            return;
          }
        console.log(e.target.attrs.value)
      });

      document.getElementById('add').addEventListener('click', function () {
          console.log('clicked.')
          layer.add(
            new Konva.Circle({
                x: 400,
                y: 400,
                fill: 'red',
                radius: 20,
                draggable: true,
                name: 'circle',
                value: 5
          }))
          layer.draw()
      });

      layer.on('mouseenter', function (e) {
        if (!e.target.hasName('circle')) {
          return;
        } else {
            if (e.target.attrs.value == 5) {
                console.log('this might actually work.')
            }
            stage.container().style.cursor = 'pointer';
        }
      });

      layer.on('mouseleave', function (e) {
        if (!e.target.hasName('circle')) {
          return;
        } else {
            stage.container().style.cursor = 'default';
        }
      });


    </script>
  </body>

</html>
