<nav
  class="navbar navbar-transparent navbar-color-on-scroll fixed-top
  navbar-expand-lg"
  color-on-scroll="100"
  id="sectionsNav">
  <div class="navbar-translate">
    {% if request.path=='/home' %}
    <a class="navbar-brand ml-5 mr-4" href="{{ url_for('protocols') }}"></a>
    {% else %}
    <a class="navbar-brand ml-5 mr-4" href="{{ url_for('protocols') }}"><img
        src="https://storage.googleapis.com/geovision-site/white_inline_logo.png"
        height="100%"
        /></a>
    {% endif %}
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse mr-5">
    <!-- Navbar left Side -->
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav"></ul>
  </div>
</nav>
