<nav class="navbar navbar-expand-lg navbar-light" id="sectionsNav">
  <div class="navbar-translate">
    <a class="navbar-brand ml-5 mr-4" href="{{ url_for('protocols') }}">
      <img
        src="https://storage.googleapis.com/geovision-site/black_inline_logo.png"
        height="100%"
        />
    </a>
    <button
      class="navbar-toggler mr-2"
      type="button"
      data-toggle="collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="border-style: hidden;">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <!-- Navbar -->
  <div class="collapse navbar-collapse mr-5">
    <!-- Navbar left Side -->
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav"></ul>
  </div>
  <!-- </div> -->
</nav>
