<div class="pb-4">
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li {% if page_number == 1 %} class="page-item active" {% else %} class="page-item disabled" {% endif %}>
        <span class="page-link">1</span>
      </li>
      <li {% if page_number == 2 %} class="page-item active" {% else %} class="page-item disabled" {% endif %}>
        <span class="page-link">2</span>
      </li>
      <li {% if page_number == 3 %} class="page-item active" {% else %} class="page-item disabled" {% endif %}>
        <span class="page-link">3</span>
      </li>
      <li {% if page_number == 4 %} class="page-item active" {% else %} class="page-item disabled" {% endif %}>
        <span class="page-link">4</span>
      </li>
      <li {% if page_number == 5 %} class="page-item active" {% else %} class="page-item disabled" {% endif %}>
        <span class="page-link">5</span>
      </li>
      <li {% if page_number == 6 %} class="page-item active" {% else %} class="page-item disabled" {% endif %}>
        <span class="page-link">6</span>
      </li>
      <li {% if page_number == 7 %} class="page-item active" {% else %} class="page-item disabled" {% endif %}>
        <span class="page-link">7</span>
      </li>
      <li {% if page_number == 8 %} class="page-item active" {% else %} class="page-item disabled" {% endif %}>
        <span class="page-link">8</span>
      </li>
      <li {% if page_number == 9 %} class="page-item active" {% else %} class="page-item disabled" {% endif %}>
        <span class="page-link">9</span>
      </li>
      <li {% if page_number == 10 %} class="page-item active" {% else %} class="page-item disabled" {% endif %}>
        <span class="page-link">10</span>
      </li>
    </ul>
  </nav>
</div>