<footer class="footer footer-primary footer-big" id="sectionFooter">
    <div class="container">
        <div class="row">
<!--             <ul class="col-md-12 text-center">
                <li><a href="/login"><span class="tb-icon tb-man-23"></span> Login</a></li>
                <li><a href="/register"><span class="tb-icon tb-briefcase-25"></span> Register</a></li>
                <li><a href="contact"><span class="tb-icon tb-email-83"></span> Contact</a></li>
            </ul> -->
        </div>
        <hr>
        <div class="copyright pull-center">
            &copy; <script>document.write(new Date().getFullYear())</script> geovision. All rights reserved.
        </div>
    </div>
</footer>
