<!-- Feedback modal -->
<div class="modal fade" id="learnMore" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="title">Planetary Instrument for X-ray Lithochemistry
          (PIXL)</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>The PIXL (Planetary Instrument for X-ray Lithochemistry) for
          the Mars-2020 rover is a microfocus
          X-ray fluorescence instrument that rapidly measures
          elemental chemistry at sub-millimeter scales
          by focusing an X-ray beam to a tiny spot on the target rock
          or soil and analyzing the the induced
          X-ray fluorescence.
        </p>
        <br>
        <img src="https://storage.googleapis.com/geovision-site/pixl.jpg" width="100%" />
        <p class="mutted text-center"><small> <a target="_blank" href="https://mars.nasa.gov/mars2020/mission/instruments/pixl/for-scientists/">https://mars.nasa.gov/mars2020/mission/instruments/pixl/for-scientists/</a></small></p>
      </div>
    </div>
  </div>
</div> <!-- End feedback modal -->